*~
.DS_Store
#*#
*$
*,v
*.BAK
*.a
*.bak
*.elc
*.exe
*.la
*.lo
*.o
*.obj
*.orig
*.py[oc]
*.so
*.tmp
*~
.#*
.*.sw[nop]
.*.tmp
./.python-eggs
*.egg
*.egg-info
*.pyc
*.pyo
*.pt.cache
.coverage
.DS_Store
.arch-ids
.arch-inventory
.bzr.log
.bzr
.del-*
.git
.hg
.jamdeps.libs
.make.state
.sconsign*
.svn
.sw[nop]
.tmp*
BitKeeper
CVS
CVS.adm
RCS
SCCS
TAGS
_darcs
aclocal.m4
autom4te*
config.h
config.h.in
config.log
config.status
config.sub
stamp-h
stamp-h.in
stamp-h1
{arch}
